<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KeybirdKatzDBApi.Properties.Settings.KeybirdKatzConnectionString"
            connectionString="data source=&quot;C:\Users\liuy14\Documents\Visual Studio 2010\Projects\KeybirdKatzDBApi\KeybirdKatzDBApi\KeybirdKatz.db&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>